.TransactionEditor {
  display: flex;
  flex-direction: column;  
}

.TransactionEditor .type_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
   background-color: rgba(59, 51, 99, 0.714);
} 

.TransactionEditor .name_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
   background-color: rgba(59, 51, 99, 0.714);
} 


.TransactionEditor .amount_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
   background-color: rgba(59, 51, 99, 0.714);
} 

.TransactionEditor .category_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
   background-color: rgba(59, 51, 99, 0.714);
} 

.TransactionEditor .date_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
   margin-bottom: 50px;
   background-color: rgba(59, 51, 99, 0.714);
} 

.TransactionEditor .button_wrapper {
   flex : 1;
   width:100%;
   padding : 10px 0px;
   margin : 10px 0;
} 